<div>
  <%= link_to "＜", root_path%>
</div>
<p>show order page</p>
<%= @order.title%>
<% if current_user%>
  <%= render "order_details/new"%>
<% else %>
  <div class="my-2">
    <%= link_to "登入後++", new_user_session_path, class:"button" %>
  </div>
<% end %>
<hr class="my-4 ">
<div>
  <p class="text-center ">訂餐列表</p>
  <%= render "order_table"%>
</div>
