<!DOCTYPE html>
<html>
  <head>
    <title>DiningGroup</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <main class="container flex flex-col mx-auto">
      <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <div class="p-2">
        <%= yield %>
      </div>
      <div>
        <%= render "layouts/navbar"%>
      </div>
    </main>
  </body>
</html>
